<div class="container"> 
    <form [formGroup]="confirmForm" (ngSubmit)="onConfirm()"> 
        <div class="from-group"> 
            <div class="row mt-7"> 
                <div class="col-sm-2">
                    <label>Employee Name:</label>
                </div> 
                <div class="col-sm-4">
                    <input type="text" name="Ename" id="Ename" class="formControl formControl-user" formControlName="name">
                </div> 
            </div> 
        </div> 
        <div class="from-group"> 
            <div class="row mt-7"> 
                <div class="col-sm-2">
                    <label>Date of Birth</label>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="1dob" id="1dob" class="formControl formControl-user" formControlName="dob">
                </div> 
            </div> 
        </div> 
        <div class="from-group"> 
            <div class="row mt-7"> 
                <div class="col-sm-2">
                    <label>Email Id:</label>
                </div> 
                <div class="col-sm-4">
                    <input type="email" name="1mailid" id="1mailid" class="formControl formControl-user"formControlName="email">
                </div> 
            </div> 
        </div> 
        <div class="from-group"> 
            <div class="row mt-7"> 
                <div class="col-sm-2">
                    <label>Address :</label>
                </div> 
                <div class="col-sm-4">
                    <input type="text" name="1eid" id="1eid" class="formControl formControl-user" formControlName="eid">
                </div> 
            </div> 
        </div> <br> 
        <div class="row mt-7 g-4"> 
            
            <button class="btn btn-success" type="submit">Confirm</button> 
        </div> 
    </form> 
</div>